// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1{
  font-size: 200%;
}
body{
  display: grid;
  grid-row-gap: 40px;
  aside{
    margin-top: 30px;
    grid-column-start: 2;
    grid-column-end: 4;
    div{
      width: 100%;
      article{
        border: .5px solid lightgray;
        padding: 8px;
        section{
          padding: 30px;
        }
      }
    }
  }
  main{
    margin-top: 14px;
    grid-column-start: 5;
    grid-column-end: 11;
    display: flex;
     div{
      width: 100%;
      article{
        border: .5px solid lightgray;
        padding: 30px;
        div{
          padding-left: 0px;
        }
      }
     }
  }
}

.comments{
  width: 93.5%;
}
.name-gravitar{
  display: flex;
  height: 120px;
  div{
    align-items: center;
    text-align: center;
    vertical-align: middle;
    h1{
      padding: 25%;
    }
  }
}