// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1{
  font-size: 200%;
}
body{
  display: flex;
  aside{
    padding: 6%;
    justify-content: space-around;
    width: 30%;
    
  }
  main{
    padding: 6%;
    justify-content: space-around;
    width: 70%;
    display: flex;
     div{
      justify-content: space-around;
       padding: 6%;
      article{
        border: .5px solid lightgray;
        padding: 8px;
        div{
          padding-left: 0px;
        }
      }
     }
  }
}
