/*header*/
header{
  width: 100%;
  position: fixed;
  background: lightskyblue;
  nav{
    ul{
      display: flex;
      li{
        justify-content: space-evenly;
        flex: 1;
        text-align: center;
        padding: 8px;
      }
    }
  }
}